.header {
    background-color: #333;
    color: #fff;
    font-family: Arial, sans-serif; /* Asegura que la fuente sea consistente */
}

.header-top {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1rem;
    background-color: #444;
    border-bottom: 1px solid #555; /* Línea sutil debajo del encabezado */
}

.logo {
    height: 50px;
}

.header-top h1 {
    margin: 0;
    font-size: 2rem; /* Tamaño de fuente más grande para el h1 */
    font-weight: bold;
    text-transform: uppercase; /* Convertir texto a mayúsculas */
    letter-spacing: 1px; /* Espaciado entre letras */
    color: #fff;
}

.header-actions {
    display: flex;
    align-items: center;
}

.flag {
    height: 30px;
    margin-right: 1rem;
}

.search-bar {
    display: flex;
    align-items: center;
    background-color: #555;
    border-radius: 5px;
    padding: 0.5rem;
}

.search-bar input {
    border: none;
    background: transparent;
    color: #fff;
    padding: 0.5rem;
    outline: none;
    font-size: 1rem; /* Asegura que el texto en la barra de búsqueda sea legible */
}

.search-icon {
    color: #fff;
    margin-left: 0.5rem;
    font-size: 1.2rem;
}

.header-bottom {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0.5rem 1rem;
    background-color: #333;
    border-top: 1px solid #555; /* Línea sutil encima del menú de navegación */
}

.main-nav, .account-nav {
    display: flex;
    gap: 1rem;
}

.main-nav a, .account-nav a {
    color: #fff;
    text-decoration: none;
    font-weight: bold;
}

.main-nav a:hover, .account-nav a:hover {
    text-decoration: underline;
}

.cart-icon-container {
    position: fixed;
    top: 50%; /* Ajusta la distancia desde la parte superior de la ventana */
    right: 20px; /* Ajusta la distancia desde la parte derecha de la ventana */
    z-index: 1000; /* Asegura que el ícono esté por encima de otros elementos */
    background-color: #fff; /* Fondo blanco para el contenedor del ícono */
    padding: 10px;
    border-radius: 50%;
    border: solid #4CAF50 1px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1); /* Sombra para darle un efecto de notificación */
    display: flex;
    align-items: center;
    justify-content: center;
}

.cart-icon {
    font-size: 2rem; /* Tamaño del ícono */
    color: #4CAF50; /* Color del ícono */
}

.cart-count {
    position: absolute;
    top: -5px;
    right: -5px;
    background-color: red;
    color: white;
    border-radius: 50%;
    padding: 2px 6px;
    font-size: 0.9rem; /* Tamaño de fuente ligeramente reducido */
    font-weight: bold;
}

/* Estilos para el botón de cerrar sesión */
.logout-btn {
    background: none;
    border: none;
    color: #ff5722;
    cursor: pointer;
    font-size: 1rem;
    text-decoration: underline;
}

.logout-btn:hover {
    color: #ff9822;
}
